html{
    height: calc(100% - 55.6px);
}

#icona {

    padding-right: 10px;
}

#navbarSupportedContent{

    justify-content: flex-end;

}

.navbar{


    background-color: #ecf0f1;
}

.bi-person{

    padding-left: 10px;

}
.aside{

    padding: 5px;
    background-color:#ecf0f1;
}

.important{

    color: red;
}
.task{

    display: flex;
    justify-content: space-between;
  
}
.container-fluid, .row, body{
    height: 100%;

}
.fab-add{

    position: fixed;
    bottom: 48px;
    right: 48px;


}
.list-group-item{

    background-color: transparent;
}

#filter-private:hover,#filter-all:hover,#filter-important:hover, #filter-7day:hover,#filter-today:hover{
background-color: #4bcefabf;
cursor: pointer;
}

#Title{
font-family: Georgia, 'Times New Roman', Times, serif;
padding-top: 8px;}