html,
body {
  height: 100%;
}

/*      Nav bar     */
.navbar {
  background-color: #ffca28;
}

.bi-check2-circle {
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-collapse {
  justify-content: flex-end;
  padding-right: 36px;
}

.btn-circle {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border-radius: 16px;
  border-style: none;
}

.btn-circle.btn-user {
  border-style: solid;
  border-width: 2px;
  color: #191300;
  border-color: #191300;
  overflow: auto;
}
.btn-user:hover {
  color: #f8f9fa;
  background-color: #191300;
}
.btn-user:focus {
  box-shadow: 0 0 0.2rem #42340b;
}

.icon-user {
  object-fit: cover;
  scale: 1.3;
}

.mysearch {
  background-color: #a8851c;
  border-color: #a8851c;
}

.mysearch:focus {
  border-color: #191300;
  box-shadow: 0 0 0.2rem #42340b;
}
.mysearch::placeholder {
  color: #fff0c4;
}
.mysearch:focus::placeholder {
  color: #191300;
}

.bi-search {
  vertical-align: baseline;
}

.btn-search:hover {
  background-color: #42340b2d;
}

.btn-search:focus {
  box-shadow: 0 0 0.2rem #42340b;
}

/*      Content     */

.container-fluid {
  height: calc(100% - 58px);
}

.row {
  height: 100%;
}

.dropdown-divider {
  margin: 0;
}

.btn-fab {
  position: fixed;
  bottom: 32px;
  right: 32px;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  color: #1565c0;
}

.btn-fab:hover {
  color: #358aeb;
  box-shadow: 0px 0px 10px 0px rgba(14, 64, 122, 1);
}

/*      Sidebar     */

.sidebar-sticky {
  padding: 15px 0;
}

.filter-item {
  padding: 12px;
}

.filter-item:first-child {
  background-color: #1565c0;
  color: white;
}

.filter-item:not(:first-child):hover {
  background-color: #e3f2fd;
  cursor: pointer;
}

/*      Main        */

.tasks-list {
  padding: 0 16px;
}
.task-item {
  padding: 12px;
}

.h1 {
  padding: 16px 0;
}

.task-deadline {
  display: flex;
  justify-content: space-between;
}

.task-private {
  display: flex;
  justify-content: space-between;
}

.task-important {
  color: red;
}
